dt {
  font-weight: bold;
}

.flow > * + * {
  margin-top: 1em;
}

.table-caption {
  height: 0;
  opacity: 0;
}

.report {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

.report > div {
  padding: 0.5em;
  border: 1px solid rgb(0, 0, 0, 0.12);
}

@media screen and (max-width: 1120px) {
  .report {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .report {
    grid-template-columns: repeat(1, 1fr);
  }
}

.comparative-table th,
td {
  white-space: nowrap;
}
